<header ng-controller="NavCtrl">
	<div class="container">
		<div ng-if="!loggedIn" id="logo">
			<a href="#"><h1> Bandmate </h1></a>
		</div>
		<div ng-if="loggedIn" id="logo">
			<a href="#/newsfeed"><h1> Bandmate </h1></a>
		</div>

		<nav>
			<form id="search_nav">
				<input type="search" placeholder="Search for skill(s)...  ex. guitar, vocals" name="nav_search" ng-model="filter.instruments" ng-focus="searchPage()" ng-enter="filterResults()">
			</form>
			<ul ng-if="!loggedIn">
				<li ng-click="$root.loginClicked = !$root.loginClicked">LOGIN</li>
				<li ng-click="$root.signupClicked = !$root.signupClicked"><a href="#">SIGNUP</a></li>
			</ul>
			<ul ng-if="loggedIn">
				<li><a href="#/studio">Studio</a></li>
				<li class="messages_icon"><a href="#/messages"><img src="images/messages-icon.png"></a></li>
				<li class="settings_icon" ng-click="$root.settingsClicked = !$root.settingsClicked"><img src="images/settings-icon.png"></li>
				<li class="user_img"><img ng-src="{{currentUser.profileImg}}" alt="user img"><a href="#/profile/{{currentUser.id}}">{{currentUser.name}}</a></li>
			</ul>
		</nav>
		<div class="clear_fix"></div>
	</div>
</header>

<div id="login_form" class="animated" ng-class="{'slideInDown' : $root.loginClicked, 'slideOutUp' : !$root.loginClicked}" ng-controller="NavCtrl" ng-if="!loggedIn">
	<h3> Login to Bandmate </h3>
	<form name="login" ng-submit="submit()">
		<div class="form_input">
			<input type="text" name="login_email" id="login_email" placeholder="Email Address" ng-model="login.username">
		</div>
		<div class="form_input">
			<input type="password" name="login_password" id="login_password" placeholder="Password" ng-model="login.password">
		</div>
		<div ng-if="loginErr" class="login_err">
			{{loginErr}}
		</div>
		<input type="submit" id="login_button" value="login" ng-click="!$root.loginClicked">
		<div clas="clear_fix"></div>
	</form>
</div>

<div ng-if='loggedIn' id="settings_menu" ng-show="settingsClicked" ng-click="$root.settingsClicked = !$root.settingsClicked">
	<ul>
		<li> <a href="#/account"> Edit Account </a> </li>
		<li class="logout_link" ng-controller="NavCtrl" ng-click="logout()" > Logout </li>
	</ul>
</div>

<!-- <header ng-controller="NavCtrl">
	<div class="container">
		<div id="logo">
			<a href="#"><h1> Bandmate </h1></a>
		</div>

		<nav>
			<form id="search_nav">
				<input type="search" placeholder="Search for skill(s)...  ex. guitar, vocals" name="nav_search">
			</form>
			<ul>
				<li><a href="#">Studio</a></li>
				<li class="messages_icon"><a href="#"><img src="images/messages-icon.png"></a></li>
				<li class="settings_icon"><a href="#"><img src="images/settings-icon.png"></a></li>
				<li class="user_img"><img src="images/user_img.png" alt="user img"><a href="#">Jason</a></li>
			</ul>
			<div class="clear_fix"></div>
		</nav>
	</div>
</header> -->