<div ng-include src="'views/header.html'"></div>

<div id="main_content" class="container">
 	<section id="inbox" class="column three-10">
 		<h2> Inbox </h2>
 		<div>
	 		<div class="inbox_msg" ng-repeat="m in allMsg">
	 			<div ng-click="loadMsg(m.id)">
		 			<div class="thumb_img"><img ng-src="{{m.recipientImg}}"></div>
		 			<ul>
		 				<li> {{m.recipientName}}</li>
		 				<li> {{m.conversation.text}}</li>
		  				<li> {{m.updated}}</li>
		  			</ul>
		  			<div class="clear_fix"></div>
		  		</div>
	 		</div>
	 	</div>
 	</section>
 	<section id="current_message" class="column three-5">
 		<div class="inbox_msg" ng-repeat="m in currentMsg.conversation">
 			<ul>
 				<li> {{m.is}}</li>
 				<li> {{m.text}}</li>
  				<li> {{m.timeSent}}</li>
  			</ul>
  			<div class="clear_fix"></div>
	 	</div>
 	</section>
</div>

<div ng-include src="'views/footer.html'"></div>