<div ng-include src="'views/header.html'"></div>

<div id="main_content" class="container">

	<section id="inbox" class="column three-10">
 		<h2> Inbox </h2>
 		<div>
	 		<div class="inbox_msg" ng-repeat="c in conversations">
	 			<div ng-click="loadMsgs(c.id, c.name)">
		 			<div class="thumb_img"><img ng-src="{{c.profileImg}}"></div>
		 			<ul>
		 				<li class="msg_name"> {{c.name}} </li>
		 				<li> {{ c.lastMsg | limitTo:40 }}...</li>
		 				<li class="msg_date"> {{ c.time | date : 'MMM d'}}</li>
		  			</ul>
		  			<div class="clear_fix"></div>
		  		</div>
	 		</div>
	 	</div>
 	</section>

 	<section id="current_message" class="column seven-10">
 		<div class="current_container">

	 		<h2> {{currentConversation.rName}} <!-- <input type="submit" name="delete_message" ng-click="deleteMsg(currentConversation.id)" value="Delete"> --></h2>

	 		<div id="msg_container">

		 		<div class="msg" ng-repeat="m in currentConversation.messages track by m.id| orderBy:order">

		 			<div class="convo_img_left">
		 				<a ng-href="#/profile/{{m.senderId}}"><img ng-src="{{m.profileImg}}"></a>
		 			</div>

	 				<ul class="msg_info_left">
	 					<li class="msg_name" > <a ng-href="#/profile/{{m.senderId}}">{{m.name}}</a></li>
	 					<li class="msg_date"> {{ m.time | date : 'MMM d'}}</li>
	 					<div class="clear_fix"></div>
	 				</ul>

	 				<p class="msg_text_left"> {{m.text}}</p>
		  			<div class="clear_fix"></div>

			 	</div>

			</div>

			<form id="send_msg" name="send_msg" ng-submit="sendMsg(currentConversation.id)">
				<div class="send_container">
					<textarea name="newMsg" id="newMsg" class="edit_input" ng-model="newMsg.text" ng-enter="sendMsg(currentConversation.id)"> Type your reply... </textarea>
				</div>
				<div class="send_container">
					<input type="submit" name="submit_message" value="Send">
					<div class="clear_fix"></div>
				</div>
			</form>

		</div>
 	</section>

</div>

<div ng-include src="'views/footer.html'"></div>