<div ng-include src="'views/header.html'"></div>

<div id="edit_profile" class="container">
	<section id="user_sidebar_left" class="column one-5">
		<div class="profile_pic">
			<img ng-src="{{user.profileImg}}">
		</div>
		<div class="profile_basic">
			<form name="account_info" id="account_info">
				<fieldset>
					<div class="form_input">
						<label for="name">Name:</label>
						<input type="text" name="name" ng-model="user.name" placeholder="Your Name" class="edit_input" ng-focus="generalUpdate = true">
					</div>
				</fieldset>
				<fieldset>
					<label>Account Type:</label>
					<div class="bg_related_input first">
						<label for="musician"> <input type="checkbox" id="musician" name="musician"
ng-true-value="Musician" ng-false-value="" ng-focus="generalUpdate = true"> Musician </label>
					</div>
					<div class="bg_related_input">
						<label for="band"> <input type="checkbox" id="band" name="band"
ng-true-value="Band" ng-false-value="" ng-focus="generalUpdate = true"> Band </label>
					</div>
					<div class="bg_related_input">
						<label for="instructor"> <input type="checkbox" id="instructor" name="instructor"
ng-true-value="Instructor" ng-false-value="" ng-focus="generalUpdate = true"> Instructor </label>
					</div>
				</fieldset>
				<fieldset id="birthday">
					<div class="form_input">
						<label for="birthMonth">Birthday:</label>
						<div class="clear_fix"></div>
						<select id="birthMonth" name="birthMonth" ng-model="user.birthMonth" class="edit_input" ng-focus="generalUpdate = true">
							<option value="01"> Jan </option>
							<option value="02"> Feb </option>
							<option value="03"> Mar </option>
							<option value="04"> Mar </option>
							<option value="05"> May </option>
							<option value="06"> Jun </option>
							<option value="07"> Jul </option>
							<option value="08"> Aug </option>
							<option value="09"> Sept </option>
							<option value="10"> Oct </option>
							<option value="11"> Nov </option>
							<option value="12"> Dec </option>
						</select>
						<input type="text" id="birthDay" name="birthDay" ng-model="user.birthDay" placeholder="Day 00" ng-model="user.birthDay" class="edit_input" ng-focus="generalUpdate = true">
						<input type="text" id="birthYear" name="birthYear" ng-model="user.birthYear" placeholder="Year 0000" ng-model="user.birthYear" class="edit_input" ng-focus="generalUpdate = true">
					</div>
				</fieldset>
				<fieldset>
					<div class="form_input">
						<label for="gender">Gender:</label>
						<select id="gender" name="gender" ng-model="user.gender" class="edit_input">
							<option value="Unspecified"> Unspecified </option>
							<option value="Male"> Male </option>
							<option value="Female"> Female </option>
						</select>
					</div>
				</fieldset>

			</form>

			<ul class="social_icons">
				<li ng-show="user.facebookUrl"><a href="{{user.facebookUrl}}" target="_blank"><img ng-src="images/facebook-icon2.png"></a></li>
				<li ng-show="user.twitterUrl"><a href="{{user.twitterUrl}}" target="_blank"><img ng-src="images/twitter-icon2.png"></a></li>
				<li ng-show="user.soundcloudUrl"><a href="{{user.soundcloudUrl}}" target="_blank"><img ng-src="images/soundcloud-icon2.png"></a></li>
				<li ng-show="user.youtubeUrl"><a href="{{user.youtubeUrl}}" target="_blank"><img ng-src="images/youtube-icon2.png"></a></li>
				<div class="clear_fix"></div>
			</ul>
		</div>
	</section>

	<div id="account_settings" class="column four-5">
		<div class="account_container">
			<h2>Account Settings</h2>
			<section class="column three-5">
				<div id="center_form">
					<h3>Basic Info</h3>
					<form name="basic_info" id="basic_info">
						<fieldset>
							<div class="form_input">
								<label for="about">About:</label>
								<textarea id="about" name="about" ng-model="user.about" class="edit_input">Write about yourself here...</textarea>
							</div>
						</fieldset>
						<fieldset class="split">
							<div class="column one-2">
								<div class="form_input">
									<label for="lookingFor">Looking For:</label>
									<select id="lookingFor" name="lookingFor" ng-model="user.lookingFor" class="edit_input">
										<option value="Guitarist"> Guitarist </option>
										<option value="Band"> Band </option>
									</select>
								</div>
								<div class="form_input">
									<label for="yearsOfExp">Years of Experience:</label>
									<input type="number" id="yearsOfExp" name="yearsOfExp" ng-model="user.yearsOfExp" class="edit_input">
								</div>
								<div class="form_input">
									<label for="gigsPlayed">Gigs Played:</label>
									<select id="gigsPlayed" name="gigsPlayed" ng-model="user.gigsPlayed" class="edit_input">
										<option value="0 - 10"> 0 - 10 </option>
										<option value="10 - 20"> 10 - 20 </option>
										<option value="20 - 30"> 20 - 30 </option>
										<option value="30 - 40"> 30 - 40 </option>
										<option value="40 - 50"> 40 - 50 </option>
										<option value="50 - 60"> 50 - 60 </option>
										<option value="60 - 70"> 60 - 70 </option>
										<option value="70 - 80"> 70 - 80 </option>
										<option value="90 - 100"> 90 - 100 </option>
										<option value="100 +"> 100 + </option>
									</select>
								</div>
							</div>
							<div class="column one-2">
								<div class="form_input">
									<label for="commitment">Commitment:</label>
									<select id="commitment" name="commitment" ng-model="user.commitment" class="edit_input">
										<option value="Just For Fun"> Just For Fun </option>
										<option value="Somewhat Commited"> Somewhat Commited </option>
											<option value="Commited"> Commited </option>
										<option value="Very Commited"> Very Commited </option>
									</select>
								</div>
								<div class="form_input">
									<label for="availability">Availability:</label>
									<select id="availability" name="availability" ng-model="user.availability" class="edit_input">
										<option value="1 days per week"> 1 days per week </option>
										<option value="2 days per week"> 2 days per week </option>
										<option value="3 days per week"> 3 days per week </option>
										<option value="4 days per week"> 4 days per week </option>
										<option value="5 days per week"> 5 days per week </option>
										<option value="6 days per week"> 6 days per week </option>
										<option value="7 days per week"> 7 days per week </option>
									</select>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</section>

			<section id="user_sidebar_right" class="column two-5">
				<div id="general_section">
					<h3> General <img src="images/uparrow-icon.png"></h3>
					<form id="checkbox_form">
						<div class="bg_related_input first">
							<label for="emailUser"> <input type="checkbox" id="emailUser" name="emailUser" ng-model="user.emailUser"
ng-true-value="true" ng-false-value="false" ng-focus="checkboxUpdate = true"> Email me when I recieve a new message </label>
						</div>
						<div class="bg_related_input">
							<label for="hideUser"><input type="checkbox" name="hideUser" id="hideUser" name="hideUser" ng-model="user.hideUser"
ng-true-value="true" ng-false-value="false" ng-focus="checkboxUpdate = true"> Hide my profile from search results </label>
						</div>
						<div class="form_input">
							<input type="submit" id="checkbox_submit" value="Update" ng-show="checkboxUpdate">
							<div class="clear_fix"></div>
						</div>
					</form>
					<div class="clear_fix"></div>
					<form id="email_form">
						<label for="email">Email Address:</label>
						<!--<p> Changing your email address will also change the email you use for login. </p>-->
						<div class="related_input">
							<input type="text" name="email" id="email" ng-model="user.email" placeholder="Email Address" ng-focus="emailUpdate = true" class="edit_input">
							<input type="password" name="password" placeholder="Password" ng-focus="emailUpdate = true" class="edit_input">
						</div>
						<div class="form_input">
							<input type="submit" id="checkbox_submit" value="Update" ng-show="emailUpdate">
							<div class="clear_fix"></div>
						</div>
					</form>
					<form id="password_form">
						<label for="password">Reset Password:</label>
						<div class="related_input">
							<input type="password" id="password" name="password_current" placeholder="Current Password" ng-focus="passwordUpdate = true" class="edit_input">
							<input type="password" name="password_new" placeholder="New Password" ng-focus="passwordUpdate = true" class="edit_input">
							<input type="password" name="password_retype" placeholder="Retype New Password" ng-focus="passwordUpdate = true" class="edit_input">
						</div>
						<div class="form_input">
							<input type="submit" id="checkbox_submit" value="Update" ng-show="passwordUpdate">
							<div class="clear_fix"></div>
						</div>
					</form>
				</div>
				<div id="audio_section">
					<h3> Audio <img src="images/uparrow-icon.png"> </h3>
					<form id="audio_form">
						<p>Add audio to your profile with <img src="images/soundcloud-logo2.png" alt="Soundcloud">. </p>
						<p>Copy the url for your channel, track, or playlist and paste it below to add it to your profile. </p>
						<div class="form_input">
							<input type="url" name="scPlayerUrl" placeholder="ex. https://soundcloud.com/example/playlist" ng-focus="scUrlUpdate = true" class="edit_input">
							<div class="clear_fix"></div>
						</div>
						<div class="form_input">
							<input type="submit" id="checkbox_submit" value="Update" ng-show="scUrlUpdate">
							<div class="clear_fix"></div>
						</div>
					</form>
				</div>
				<div id="video_section">
					<h3> Video <img src="images/uparrow-icon.png"> </h3>
					<form id="video_form">
						<p>Add <img src="images/youtube-logo.png" alt="YouTube"> videos to your profile.</p>
						<p>Copy the url for your video  and paste it below to add it to your profile. Click the ‘+ Video’ button to add more videos. </p>
						<div class="form_input">
							<input type="url" name="ytUrl" placeholder="ex. http://www.youtube.com/embed/Oww-7cxOBUk" ng-focus="ytUrlUpdate = true" class="edit_input">
							<div class="clear_fix"></div>
						</div>
						<div class="form_input">
							<input type="submit" value="Update" ng-show="ytUrlUpdate">
							<div class="clear_fix"></div>
						</div>
					</form>
				</div>
			</section>

			<div class="clear_fix"></div>
		</div>
	</div>
</div>

<div ng-include src="'views/footer.html'"></div>