<div ng-include src="'views/header.html'"></div>

<div class="container">

	<section id="user_sidebar_left" class="column one-5">
		<div class="profile_pic">
			<img ng-src="{{user.profileImg}}">
		</div>
		<div class="profile_basic">
			<h3> {{user.name}} </h3>
			<ul class="account_info">
				<li class="account_type"> {{user.accountType}} </li>
				<li> {{user.city}}, {{user.state}} </li>
				<li> {{user.age}} years old</li>
				<li> {{user.gender}} </li>
				<li class="active_within"> {{user.lastActive}} </li>
			</ul>
			<ul class="user_buttons">
				<li><button class="{{user.id}}" name="add_studio"> + Studio </button></li>
				<li><button class="{{user.id}}" name="message"> Message </button></li>
				<div class="clear_fix"></div>
			</ul>
			<ul class="social_icons">
				<li ng-show="user.facebookUrl"><a href="{{user.facebookUrl}}" target="_blank"><img ng-src="images/facebook-icon.png"></a></li>
				<li ng-show="user.twitterUrl"><a href="{{user.twitterUrl}}" target="_blank"><img ng-src="images/twitter-icon.png"></a></li>
				<li ng-show="user.soundcloudUrl"><a href="{{user.soundcloudUrl}}" target="_blank"><img ng-src="images/soundcloud-icon.png"></a></li>
				<li ng-show="user.youtubeUrl"><a href="{{user.youtubeUrl}}" target="_blank"><img ng-src="images/youtube-icon.png"></a></li>
				<div class="clear_fix"></div>
			</ul>
		</div>
	</section>

	<section id="user_center" class="column one-2">

		<section class="user_audio">
			<!-- <h3> Audio </h3> -->
			<!-- <span class="scPlayer"></span> -->
		</section>

		<section class="user_about">
			<h3> About </h3>
			<p> {{user.about}} </p>
		</section>

		<section class="user_video">
			<h3> Videos </h3>
		</section>

	</section>

	<section id="user_sidebar_right" class="column three-10">
		<section class="user_details">
			<h3> Info </h3>
			<ul>
				<li><span class="label">Looking For: </span>{{user.lookingFor}}</li>
				<li><span class="label">Instruments: </span><span ng-repeat="string in user.instruments">{{string}}, </span></li>
				<li><span class="label">Genres: </span><span ng-repeat="string in user.genres">{{string}}, </span></li>
				<li><span class="label">Equipment: </span>{{user.equipment}}</li>
				<li><span class="label">Years of Experience: </span>{{user.yearsOfExp}}</li>
				<li><span class="label">Gigs Played: </span>{{user.gigsPlayed}}</li>
				<li><span class="label">Commitment: </span>{{user.commitment}}</li>
				<li><span class="label">Availability: </span>{{user.availability}}</li>
			<ul>
		</section>
	</section>

</div>

<div ng-include src="'views/footer.html'"></div>