/* ---------------------------------------------------------------------------------------------------

-----Info

-----Color Swatch
Purple: #2a258e
Teal: #05959a
Text: #282828
H2 & H3 Underline: #d5d5d5

Nav BG: #0f0f0f
Nav Search BG: #363636
Nav Dividers: #202020
Nav Text: #a3a3a3

CTA Text: #a2a2a2
CTA Search BG: #929292

Grey BG: #e9e9e9
White BG: #f0f0f0

Button BG: #dbdbdb

-----Sections

∆ General


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 14px Helvetica;
	color: #282828;
	background-color: #f0f0f0;
	font-weight: lighter;
}

h2{
	color: #2a258e;
	text-transform: uppercase;
	font-weight: lighter;
	padding-bottom: 5px;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 20px;
	letter-spacing: .5px;
	word-spacing: 5px;
	font-size: 20px;
}

h3{
	color: #05959a;
	text-transform: uppercase;
	font-weight: lighter;
	padding-bottom: 5px;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 10px;
	letter-spacing: .5px;
	word-spacing: 2px;
	font-size: 17px;
}

h4{
	color: #05959a;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 16px;
}

ul{
	list-style-type: none;
}

li{
	float: left;
}

.clear_fix{
	clear: both;
}

input{
	border-radius: 2px;
}

section{
	padding: 30px 0;
}

p{
	line-height: 22px;
}

button{
	padding: 6px 8px 3px;
	border-radius: 2px;
	border: solid 1px #2a258e;
	background-color: #dbdbdb;
	color: #2a258e;
	text-transform: uppercase;
	font: lighter 14px Helvetica, sans-serif;
	cursor: pointer;
}

.user_thumb{
	padding: 10px 5px;
	text-align: center;
	cursor: pointer;
}

.user_thumb img{
	margin-bottom: 10px;
}

.user_thumb p{
	font-size: 12px;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Header
---------------------------------------------------------------------------------------------------*/

header{
	height: 50px;
	background-color: #0f0f0f;
}

#logo{
	height: 50px;
	width: 151px;
	float: left;
	cursor: pointer;
}

h1{
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../images/logo.png) top center no-repeat;
}

nav{
	float: right;
}

nav ul, nav form#search_nav{
	float: left;
}

nav form#search_nav{
	line-height: 50px;
}

nav form#search_nav input{
	padding: 5px;
	margin-right: 15px;
	width: 340px;
	border: 1px solid #202020;
	background: url(../images/nav-search-icon.png) 97% 60% no-repeat #363636;
}

nav ul a{
	color: #a3a3a3;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: lighter;
}

nav a:hover{
	opacity: .3;
}

nav ul{
	border-left: 1px solid #202020;
}

nav li{
	line-height: 46px;
	padding: 3px 15px 0;
	border-right: 1px solid #202020;
}

nav li.messages_icon{
	padding-top: 15px;
	line-height: 20px;
}

nav li.settings_icon{
	padding-top: 12px;
	line-height: 20px;
}

/*nav li.user_img{
	border-right: none;
	padding-right: 0;
	padding-top: 13px;
	line-height: 20px;
}*/

nav li.user_img{
	padding-top: 13px;
	line-height: 10px;
}

nav li.user_img img{
	width: 24px;
	height: 24px;
	padding-right: 10px;
	float: left;
	cursor: pointer;
}

nav li.user_img a{
	float: left;
	padding: 8px 0;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Landing
---------------------------------------------------------------------------------------------------*/

#cta{
    max-width: 100%;
    width: 100%;
    padding: 0;
    height: 100%;
}

#cta_info{
	position: absolute;
	top: 190px;
	text-align: center;
	width: 100%;
}

#cta_info p{
    color: #A2A2A2;
    font: 300 28px 'Yanone Kaffeesatz', sans-serif;;
    margin: 0 auto;
    width: 700px;
    padding: 15px 0;
}

#search_cta input[type=search]{
	background: url(../images/cta-search-icon.png) no-repeat 445px #929292;
	border: 1px solid #282828;
	padding: 11px 8px 6px;
	font: 18px Helvetica, sans-serif;
	width: 480px;
}

#cta_image{
	z-index: -1;
}

#cta_image img{
	width: 100%;
}

#featured_users{
	background-color: #e9e9e9;
}

#featured_users .user_thumb:hover{
	background-color: #ddd;
}

.about_left p{
	padding-right: 10px;
}

.about_right p{
	padding-left: 10px;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Profile
---------------------------------------------------------------------------------------------------*/


#user_sidebar_left{
	background-color: #e9e9e9;
	min-height: 100%;
	height: 650px;
}

.profile_pic, .profile_basic{
	width: 80%;
	margin: 0 auto;
}

.profile_pic img{
	width: 100%;
}

.profile_basic{
	margin-top: 10px;
	font-size: 13px;
}

.profile_basic h3{
	color: #2a258e;
	margin-bottom: 15px;
}

.profile_basic ul.account_info{
	padding-bottom: 15px;
}

.profile_basic ul li, .user_details ul li{
	float: none;
	padding-bottom: 8px;
}

.profile_basic ul li:last-child, .user_details ul li:last-child{
	padding-bottom: 0;
}

.account_type{
	text-transform: uppercase;
}

.active_within{
	opacity: .6;
	font-style: italic;
}

ul.social_icons, ul.user_buttons{
	padding: 15px 0 8px 0;
}

ul.social_icons li, ul.user_buttons li{
	padding: 0 10px 8px 0;
	float: left;
}

ul.user_buttons{
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
}

ul.social_icons li:last-child, ul.user_buttons li:last-child{
	padding-right: 0;
	padding-bottom: 0;
}

#user_center section{
	padding: 0 1.5% 0 3%; /*0 15px 0 30px*/
}

.user_audio{
	height: 300px;
	margin-bottom: 20px;
}

#user_sidebar_right section{
	padding: 0 4.5%; /*0 15px*/
}

#user_center p{
	font: lighter 13px/22px Helvetica, sans-serif;
	padding: 0 0 15px;
}

.user_details ul li{
	line-height: 22px;
}

span.label{
	font-weight: normal;
	color: #060606;
	padding-right: 5px;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Footer
---------------------------------------------------------------------------------------------------*/


footer{
	background-color: #0f0f0f;
	padding: 8px 0;
	color: #a3a3a3;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}

footer .footer_content{
	width: 305px;
	margin: 0 auto;
}

footer p{
	line-height: 30px;
	padding-right: 10px;
}

footer p, footer ul{
	float: left;
}

footer li{
	padding: 0 5px 0 0;
}

footer a{
	color: #05959a;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Grid & Queries
---------------------------------------------------------------------------------------------------*/


.container{
	width: 95%; /*1370px*/
	max-width: 1370px;
	min-width: 750px;
	margin: 0 auto;
	clear: both;
}

.column{
	float: left;
}

.one-2{ width: 50%; }
.two-2{ width: 100%; }

.one-5{ width: 20%; min-width: 150px;}
.two-5{ width: 40%; }
.three-5{ width: 60%; }
.four-5{ width: 80%; }

.one-10{ width: 10%; }
.three-10{ width: 30%; }
.four-10{ width: 40%; }
.seven-10{ width: 70%; }
.nine-10{ width: 90%; }


@media (max-width:900px) {
	nav form#search_nav input{ width: 250px; }
}
